<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>操作员登录</title>
    <script src="{PUB}jquery-3.0.0.min.js"></script>
    <script src="{PUB}layer/layer.js"></script>
    <link rel="stylesheet" href="{PUB}dist/css/bootstrap.min.css" />
    <style>
        .container{
            background-color: rgba(0,0,0,0.03);
        }
        .row:last-child{
            height: 150px;
        }
        dt,dd{
            padding: 4px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>资产管理系统</h1>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            <h2>操作员登录</h2>
            <form action="" method="post">
                <dl>
                    <dt>登录名</dt>
                    <dd>
                        <input name="name" type="text" class="form-control">
                    </dd>
                    <dt>登录密码</dt>
                    <dd>
                        <input name="pwd" type="password" class="form-control">
                    </dd>
                </dl>
                <p>
                    <button type="reset" class="btn btn-default col-sm-5">清空</button>
                    <button type="submit" class="btn btn-default col-sm-5 pull-right">登录</button>
                </p>
            </form>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="row"></div>
</div>
</body>
<script>
    $('[name=name]').focus();
    document.onkeydown=function (e) {
        if(e.key=='Enter'){
            $('[type=submit]').trigger('click');
        }
    }
    {if isset($err_info)}
        layer.msg('{$err_info}');
    {/if}
</script>
</html>