/*表单样式*/
#form1 {
    width: 900px;
    text-align: center;
}

#form1 td, th {
    padding: 5px 0;
}

table tr td:first-child{
    text-align: left;
}

[type=text],[type=number]{
    margin: auto 3px;
}

[type=number]{
    width: 90px;
}

p button {
    width: 170px;
}

textarea{
    width: 900px;
    height: 130px;
    font-size: 20px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++*/
.box {
    border: 5px solid gray;
    padding: 2px;
    margin-top: 10px;
}

.box > p{
    border: 1px solid;
    padding: 2px;
    white-space: pre-wrap;
}

.box > p:first-child {
    color: red;
    border-color: red;
}

.box > p:nth-child(2) {
    color: blue;
    border-color: blue;
}

.box > p:nth-child(3) {
    color: purple;
    border-color: purple;
}

.box > p:nth-child(4) {
    color: darkgreen;
    border-color: darkgreen;
}

.box > p:last-child {
    color: black;
    border-color: black;
}

.match1 {
    background-color: #e97a38;
}

.match2 {
    background-color: #009f95;
}

.match3 {
    background-color: #b2d94c;
}

.match4{
    background-color: #d9bd57;
}

.match5{
    background-color: #3ce9c9;
}
