/*表单样式*/
#form1 {
    width: 900px;
    text-align: center;
}

#form1 td, th {
    padding: 5px 0;
}

table tr td:first-child{
    text-align: left;
}

[type=text],[type=number]{
    margin: auto 3px;
}

[type=number]{
    width: 90px;
}

p button {
    width: 150px;
}

#color_code{
    width: 55px;
}

textarea{
    width: 900px;
    height: 130px;
    font-size: 20px;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++*/
.box {
    border: 5px solid gray;
    padding: 2px;
    margin-top: 10px;
    position: relative;
}

.main > p{
    border: 1px solid;
    padding: 2px;
    white-space: pre-wrap;
}

.main > p:first-child {
    color: red;
    border-color: red;
}

.main > p:nth-child(2) {
    color: blue;
    border-color: blue;
}

.main > p:nth-child(3) {
    color: purple;
    border-color: purple;
}

.main > p:nth-child(4) {
    color: darkgreen;
    border-color: darkgreen;
}

.main > p:last-child {
    color: black;
    border-color: black;
}

.toggle2{
    border: 1px solid;
    cursor: pointer;
    position: absolute;
    top:-12px;
    font-weight: bolder;
    background-color: white;
    color:black;
    padding: 2px 5px;
}

.toggle2:hover{
    background-color: black;
    color:white;
}
