<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>操作员信息</title>
    <script src="{PUB}jquery-3.0.0.min.js"></script>
    <script src="{PUB}layer/layer.js"></script>
    <link rel="stylesheet" href="{PUB}dist/css/bootstrap.min.css" />
    <style>
        .container{
            background-color: rgba(0,0,0,0.03);
        }
        h2{
            margin-bottom: 30px;
        }
        .row:last-child{
            height: 150px;
        }
        dt,dd{
            padding: 4px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <h2>操作员信息</h2>
            <form action="" method="post">
                <dl>
                    <dt>登录名</dt>
                    <dd>
                        <input id="asdf3" name="name" type="text" class="form-control" value="{$operator.name}" required="required">
                    </dd>
                    <dt>操作员类型</dt>
                    <dd>
                        <select name="type" class="form-control">
                            <option value="normal" {if $operator.type eq 'normal'}selected='selected'{/if}>普通人员</option>
                            <option value="admin" {if $operator.type eq 'admin'}selected='selected'{/if}>管理员</option>
                        </select>
                    </dd>
                    <dt>设置密码</dt>
                    <dd>
                        <input name="pwd" type="password" class="form-control" {if empty(I('get.update_id'))}required='required'{/if}>
                    </dd>
                    <dt>确认密码</dt>
                    <dd>
                        <input name="pwd2" type="password" class="form-control" {if empty(I('get.update_id'))}required='required'{/if}>
                    </dd>
                    <dt>所属子公司</dt>
                    <dd>
                        <select name="companyid" class="form-control">
                            {foreach $companies as $company}
                            {if $operator.companyid eq $company.id}
                            <option value="{$company.id}" selected="selected">{$company.name}</option>
                            {else}
                            <option value="{$company.id}">{$company.name}</option>
                            {/if}
                            {/foreach}
                        </select>
                    </dd>
                </dl>
                <p>
                    <a class="btn btn-default col-sm-4" id="back">返回</a>
                    <button id="submit" type="submit" class="btn btn-default col-sm-4 pull-right">确定</button>
                </p>
            </form>
        </div>
    </div>
    <div class="row"></div>
</div>

</body>
<script>
    document.getElementById('back').addEventListener('click',function () {
        location.href="{U("Admin/Operator/index")}";
    });

    //检查密码是否一致
    $('#submit').on('click',function () {
        var pwd=$('[name=pwd]').val();
        var pwd2=$('[name=pwd2]').val();
        if(pwd!==pwd2){
            layer.msg('两次输入的密码不一致');
            event.preventDefault();//阻止默认事件：提交
        }
    })
</script>
</html>