.para {
	background-color: #e4f4f4;
	/*margin-top: 10px;*/
	padding: 2px;
	margin: 2px;
	/*border: solid 1px;*/
}
/* 突出显示链接，因为mobile ucbrowser 不显示链接下划线 */
a {
/*background-color: #10f761;*/
}

div#outline li {
	white-space: pre-wrap;
	list-style: none;
}

pre {
	white-space: pre-wrap;
	/*white-space: pre;*/
	border: solid white;
	margin: 0.3em;
}

:target {
	/*background-color: #f0ffe9;*/
	border-left: solid 0.3em #0bebff;
}

/* tinynode */
t {
	display: block;
	border: solid 1px;
	padding: 0.1rem;
	margin: 0.1rem;
}

.checked {
	border: solid 3px; /* 1px有时绘制不出来， ucbrowser */
}

.nowrap {
	white-space: pre;
}

#fm_menu_content {
	position: absolute;
	/*z-index: 10000;*/
	/*top: 3000px;*/
	/*left: 0px;*/
	background-color: #8cffa0;
}

#fm_menu_content div {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#fm_menu_content div:active {
	background-color: #ff0000;
}

input {
	font: inherit;
}
