<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>子公司信息</title>
</head>
<body>
<h2>子公司信息</h2>
<form action="" method="post">
    <dl>
        <dt>名称</dt>
        <dd>
            <input type="text" name="name" value="{$company.name}"/>
        </dd>
    </dl>
    <input type="button" value="返回" id="back"/>
    <input type="submit"/>
</form>
</body>
<script>
    document.getElementById('back').addEventListener('click',function () {
        location.href="{U("Admin/Company/index")}";
    });
</script>
</html>