<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物品管理</title>
    <script src="{PUB}pi.js"></script>
    <script src="{PUB}config.js"></script>
    <script src="{PUB}jquery-3.0.0.min.js"></script>
    <script src="{PUB}layer/layer.js"></script>
    <link rel="stylesheet" href="{PUB}dist/css/bootstrap.min.css" />
    <style>
        .container{
            background-color: rgba(0,0,0,0.01);
        }
        h2{
            margin-bottom: 30px;
        }
        td a{
            cursor: pointer;
        }
        .row:last-child{
            height: 150px;
        }
        form{
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h2>物品管理</h2>
            <a href="{U("Admin/Index/index")}" class="btn btn-default">返回</a>
            <a href="{U("Admin/Item/update")}" class="btn btn-default">新增物品</a>
            <!--搜索内容-->
            <form action="" method="post">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <label><input type="checkbox" name="search_name" id="i11"/> 物品名称</label>
                        </span>
                            <input type="text" class="form-control" name="name" id="i12">
                        </div>
                        <div class="input-group">
                        <span class="input-group-addon">
                            <label><input type="checkbox" name="search_company" id="i21"/> 所属公司</label>
                        </span>
                            <select class="form-control" name="companyid" id="i22">
                                {foreach $companies as $company}
                                <option value="{$company.id}">{$company.name}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="input-group">
                        <span class="input-group-addon">
                            <label><input type="checkbox" name="search_type" id="i31"/> 物品类型</label>
                        </span>
                            <select class="form-control" name="typeid" id="i32">
                                {foreach $types as $type}
                                <option value="{$type.id}">{$type.name}</option>
                                {/foreach}
                            </select>
                        </div>
                        <button class="btn btn-default col-sm-12" id="submit">开始搜索</button>
                    </div>
                </div>
            </form>
            <!--物品列表-->
            <table class="table table-striped table-bordered table-hover">
                <caption>物品列表</caption>
                <tr>
                    <th width="220">物品名称</th>
                    <th>所属公司</th>
                    <th width="80">类型</th>
                    <th width="60">记录</th>
                    <th width="60">编辑</th>
                    <th width="60">删除</th>
                </tr>
                {foreach $items as $item}
                <tr>
                    <td>{$item.name}</td>
                    <td>{$item.subcompanies.name}</td>
                    <td>{$item.item_types.name}</td>
                    <td>
                        <a href="{U("Admin/Record/index/itemid/{$item.id}")}">记录</a>
                    </td>
                    <td>
                        <a href="{U("Admin/Item/update/update_id/{$item.id}")}">编辑</a>
                    </td>
                    <td>
                        <a id="{$item.id}" class="del">删除</a>
                    </td>
                </tr>
                {/foreach}
            </table>
        </div>
    </div>
</div>
</body>
<script>
    var dels = document.getElementsByClassName('del');
    for (var i = 0; i < dels.length; i++) {
        var each = dels[i];
        each.addEventListener('click', function () {
            /*{literal}*//*提示：literal标签是smarty模板引擎避免冲突的机制*/
            layer.confirm('你确定要删除此条数据吗？', {btn:['确定', '取消']}, function () {/*{/literal}*/
                var id = this.getAttribute('id');
                var base = "{U("Admin/Item/update/delete_id/")}";
                base = base.substr(0, base.lastIndexOf('.')) + '/';
                var href = base + id + '.html';
                location.href = href;
            }.bind(this));
        });
    }

    //以下代码是为保存表单内容
    {literal}//literal是为避免与smarty模板引擎发生冲突
    var ids = ['i11', 'i12', 'i21', 'i22', 'i31', 'i32'];//目标控件的id
    var config = createConfig("search_form", ids);//还原表单
    //若表单控件是通过ajax生成，则用settimeout等待一会儿执行此句
    $('#submit').on('click', function () {//保存表单
        config.saveCtrls();
    });
    {/literal}
</script>
</html>