<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>物品管理</title>
    <script src="{PUB}pi.js"></script>
    <script src="{PUB}config.js"></script>
    <script src="{PUB}jquery-3.0.0.min.js"></script>
    <style>
        table {
            width: 900px;
            text-align: center;
        }

        th:nth-last-child(1), th:nth-last-child(2) {
            width: 60px;
        }

        a {
            text-decoration: underline;
            color: #0000ee;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h2>物品管理</h2>
<ul>
    <li>
        <a href="{U("Admin/Index/index")}">返回</a>
    </li>
    <li>
        <a href="{U("Admin/Item/update")}">新增物品</a>
    </li>
</ul>
<form action="" method="post">
    <ul>
        <li>
            <label>
                <input type="checkbox" name="search_name" id="i11"/>
                物品名称：<input type="text" name="name" id="i12"/>
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="search_company" id="i21"/>
                所属公司：
                <select name="companyid" id="i22">
                    {foreach $companies as $company}
                    <option value="{$company.id}">{$company.name}</option>
                    {/foreach}
                </select>　
            </label>
        </li>
        <li>
            <label>
                <input type="checkbox" name="search_type" id="i31"/>
                物品类型：
                <select name="typeid" id="i32">
                    {foreach $types as $type}
                    <option value="{$type.id}">{$type.name}</option>
                    {/foreach}
                </select>　
            </label>
        </li>
    </ul>
    <input id="submit" type="submit" value="执行搜索"/>
</form>
<table cellspacing="0" cellpadding="0" border="1">
    <caption>物品列表</caption>
    <tr>
        <th>物品名称</th>
        <th>所属公司</th>
        <th>类型</th>
        <th>记录</th>
        <th>编辑</th>
        <th>删除</th>
    </tr>
    {foreach $items as $item}
    <tr>
        <td>{$item.name}</td>
        <td>{$item.subcompanies.name}</td>
        <td>{$item.item_types.name}</td>
        <td>
            <a href="{U("Admin/Record/index/itemid/{$item.id}")}">记录</a>
        </td>
        <td>
            <a href="{U("Admin/Item/update/update_id/{$item.id}")}">编辑</a>
        </td>
        <td>
            <a id="{$item.id}" class="del">删除</a>
        </td>
    </tr>
    {/foreach}
</table>
</body>
<script>
    var dels = document.getElementsByClassName('del');
    for (var i = 0; i < dels.length; i++) {
        var each = dels[i];
        each.addEventListener('click', function () {
            if (confirm('确认删除？')) {
                var id = this.getAttribute('id');
                var base = "{U("Admin/Item/update/delete_id/")}";
                base = base.substr(0, base.lastIndexOf('.')) + '/';
                var href = base + id + '.html';
                location.href = href;
            }

        });
    }

    //以下代码是为保存表单内容
    {literal}//literal是为避免与smarty模板引擎发生冲突
    var ids = ['i11', 'i12', 'i21', 'i22', 'i31', 'i32'];//目标控件的id
    var config = createConfig("search_form", ids);//还原表单
    //若表单控件是通过ajax生成，则用settimeout等待一会儿执行此句
    $('#submit').on('click', function () {//保存表单
        config.saveCtrls();
    });
    {/literal}
</script>
</html>